* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Irish Grover', cursive;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(26, 24, 31, 1) 11%, rgba(120, 121, 9, 0.5494572829131652) 35%, rgba(233, 235, 15, 0.5494572829131652) 62%)fixed;
    height: 100%;
}

.container {
    background: rgb(240, 225, 97);
    background: linear-gradient(22deg, rgba(240, 225, 97, 1) 0%, rgba(65, 63, 66, 1) 36%, rgba(255, 243, 140, 1) 100%);
    width: 350px;
    transform: translate(-50%, -50%);
    /* height: 220px; */
    top: 50%;
    left: 50%;
    padding: 50px;
    border-radius: 15px;
    -webkit-perspective: 300px;
    perspective: 300px;
    position: absolute;
    border: 1.5px solid #BF9742;
}

.status {
    color: #FFEA11;
    font-size: 1.7rem;
    text-align: right;
}

.imagens-moeda {

    width: 200px;
    height: 200px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.imagens-moeda img {
    width: 200px;
}

.moeda-cara,
.moeda-coroa {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.moeda-coroa {
    transform: rotateX(180deg);
}

@keyframes moeda-girando {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes moeda-coroa {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(2170deg);
    }
}

.botao {
    display: flex;
    justify-content: space-around;
}

#btn-jogar,
#btn-resetar {
    padding: 0.5rem;
    font-size: 1.3rem;
    /* background-color: #FFEE63; */
    background: linear-gradient(27deg, rgba(240, 165, 0, 1) 0%, rgba(255, 224, 93, 1) 52%, rgba(255, 202, 3, 1) 86%, rgba(0, 9, 44, 1) 100%);
    border-radius: 7px;
    border: 1.7px solid #F0A500;
    cursor: pointer;
    color: #1A1C20;
    font-weight: 600;
}

#btn-jogar:hover,
#btn-resetar:hover {
    background: linear-gradient(170deg, rgba(240, 165, 0, 1) 0%, 52%, rgba(255, 202, 3, 1) 86%, rgba(0, 9, 44, 1) 100%);
    box-shadow:
        1px 1px #30475E,
        2px 2px #30475E,
        3px 3px #30475E;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}

#btn-jogar:disabled {
    background: rgb(255, 255, 255);
    background: linear-gradient(7deg, rgba(255, 255, 255, 1) 0%, rgba(250, 30, 14, 1) 52%, rgba(255, 202, 3, 1) 86%, rgba(0, 9, 44, 1) 100%);
    opacity: 0.7;
    color: #FFF9B0;
}

/* button:first-child {
    margin-right: 3rem;
    background-color: #FFEA11;
} */